In [2]:
from edgedroid import data as edata

data, *_ = edata.load_default_exec_time_data()
data

      run_id       ttf  exec_time  neuroticism
0     134146  0.597441   3.654797        0.375
1     134146  0.553513   4.438645        0.375
2     134146  0.561716   2.943222        0.375
3     134146  0.586512   5.405761        0.375
4     134146  0.558940   5.225161        0.375
...      ...       ...        ...          ...
6755  137353  0.557074   6.439071        0.625
6756  137353  0.534339   4.680858        0.625
6757  137353  0.560288   3.467878        0.625
6758  137353  0.579000   2.325759        0.625
6759  137353  0.536671   4.615283        0.625

[6760 rows x 4 columns]