In [1]:
import pandas as pd

results = pd.read_parquet("./full_validation.parquet")
results

,real,prediction,error,sqr_error,model,kernel,ttf_bins,window_size
0,3.654797,6.278157,2.623360,6.882016,1st order,none,0,0
1,3.654797,5.261648,1.606851,2.581971,1st order (median),none,0,0
2,3.654797,5.873496,2.218699,4.922626,1st order (mean),none,0,0
3,3.654797,4.469169,0.814371,0.663201,empirical,exponential,1,4
4,3.654797,3.369724,-0.285073,0.081267,empirical,linear_steep,1,4
...,...,...,...,...,...,...,...,...
88217995,4.615283,5.036001,0.420718,0.177003,empirical (median),average,9,12
88217996,4.615283,5.277464,0.662181,0.438484,theoretical,exponential,9,12
88217997,4.615283,5.836481,1.221198,1.491324,theoretical,linear_steep,9,12
88217998,4.615283,7.666758,3.051475,9.311500,theoretical,linear_shallow,9,12
88217999,4.615283,4.593182,-0.022102,0.000488,theoretical,average,9,12

In [8]:
(
    results
    .groupby(["model", "kernel", "window_size", "ttf_bins"], observed=True)
    ["sqr_error"]
    .mean()
    .reset_index()
    .sort_values("sqr_error", ascending=True)
    .drop_duplicates("model")
)

                  model          kernel  window_size  ttf_bins  sqr_error
206    empirical (mean)    linear_steep            8         6  10.133110
1      1st order (mean)            none            0         0  10.189076
314  empirical (median)    linear_steep            8         6  10.375893
2    1st order (median)            none            0         0  10.559166
80            empirical  linear_shallow           12         6  13.747221
403         theoretical  linear_shallow           12         5  14.504284
0             1st order            none            0         0  20.445514