In [3]:
import pandas as pd

step_data_full = pd.read_parquet("./steps2022_full.parquet")
step_data_full

                                   end  last_frame_rtt  square  block  \
run_id step
134146 0    2019-11-15 20:19:27.018885        0.555361       9    NaN
       1    2019-11-15 20:19:32.013099        0.540560       9    NaN
       2    2019-11-15 20:19:35.520418        0.522129       9    0.0
       3    2019-11-15 20:19:41.514579        0.534043       9    0.0
       4    2019-11-15 20:19:47.301153        0.538592       9    0.0
...                                ...             ...     ...    ...
137353 164  2019-11-26 19:59:29.298847        0.520527       8   20.0
       165  2019-11-26 19:59:34.517035        0.490040       8   20.0
       166  2019-11-26 19:59:38.547268        0.513129       8   20.0
       167  2019-11-26 19:59:41.454079        0.573797       8   20.0
       168  2019-11-26 19:59:46.608506        0.522205       8   20.0

             block_step  delay  block_size                      start  \
run_id step
134146 0            NaN    NaN         NaN 2019-11-15 20:19:22.766647
       1            NaN    NaN         NaN 2019-11-15 20:19:27.020941
       2            0.0    0.0         8.0 2019-11-15 20:19:32.015480
       3            1.0    0.0         8.0 2019-11-15 20:19:35.522306
       4            2.0    0.0         8.0 2019-11-15 20:19:41.517052
...                 ...    ...         ...                        ...
137353 164          6.0    0.0        12.0 2019-11-26 19:59:22.302702
       165          7.0    0.0        12.0 2019-11-26 19:59:29.301838
       166          8.0    0.0        12.0 2019-11-26 19:59:34.519102
       167          9.0    0.0        12.0 2019-11-26 19:59:38.549320
       168         10.0    0.0        12.0 2019-11-26 19:59:41.456552

             wait_time  duration  exec_time
run_id step
134146 0      0.042080  4.252238   3.654797
       1      0.012953  4.992158   4.438645
       2      0.039587  3.504938   2.943222
       3      0.052469  5.992273   5.405761
       4      0.020348  5.784101   5.225161
...                ...       ...        ...
137353 164    0.036547  6.996145   6.439071
       165    0.044299  5.215197   4.680858
       166    0.047159  4.028166   3.467878
       167    0.005203  2.904759   2.325759
       168    0.014466  5.151954   4.615283

[6760 rows x 11 columns]

In [4]:
import edgedroid.data as e_data

comb_data, *_ = e_data.load_default_exec_time_data()
comb_data

      run_id       ttf  exec_time  neuroticism
0     134146  0.597441   3.654797        0.375
1     134146  0.553513   4.438645        0.375
2     134146  0.561716   2.943222        0.375
3     134146  0.586512   5.405761        0.375
4     134146  0.558940   5.225161        0.375
...      ...       ...        ...          ...
6755  137353  0.557074   6.439071        0.625
6756  137353  0.534339   4.680858        0.625
6757  137353  0.560288   3.467878        0.625
6758  137353  0.579000   2.325759        0.625
6759  137353  0.536671   4.615283        0.625

[6760 rows x 4 columns]